<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <title>JSOC - the json doc engine</title>
    <link rel="stylesheet" href="/assets/amazeui/dist/css/amazeui.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header id="header" class="am-topbar admin-header">
    <h1 class="am-topbar-brand am-text-secondary am-text-xl am-serif">{{site}}</h1>

    <div class="am-dropdown" data-am-dropdown>
        <button class="am-btn am-btn-fixed am-dropdown-toggle am-monospace" data-am-dropdown-toggle>选择方案 <span
                class="am-icon-caret-down"></span></button>
        <ul class="am-dropdown-content am-dropdown-content-fixed">
            <li class="am-dropdown-header plan" v-for="plan in plans">{{plan}}</li>
            <li class="am-dropdown-header">创建方案</li>
        </ul>
    </div>
    <em><input type="text" v-model="host.host"></em>
</header>
<div id="main">
    <div id="loading">
        <div class="am-progress am-progress-striped am-active am-round">
            <div class="am-progress-bar am-progress-bar-secondary" style="width: 100%">LOADING...</div>
        </div>
    </div>
    <div id="board" class="am-hide am-g">
        <div id="sider" class="admin-sidebar am-u-md-2">
            <ul class="">
                <li class="li-api" data-api="{{index}}" v-for="(index, api) in plan.apis"><i class="am-icon-chain am-icon-fw"></i>{{api.name}}</li>
                <li>添加接口</li>
            </ul>
        </div>
        <div id="content" class="am-u-md-10">
            <section data-am-sticky class="am-hide">
                <div class="am-btn-toolbar am-fr">
                    <div class="am-btn-group am-btn-group-fixed"><button role="cmd_save" class="am-btn am-btn-primary">Save</button></div>
                    <div class="am-btn-group am-btn-group-fixed"><button role="cmd_run" class="am-btn am-btn-success">Run</button></div>
                </div>
            </section>
            <div>

            </div>
        </div>
    </div>
    <div id="dialog" >
        <div class="am-panel-hd am-cf">TITLE<span class="am-icon-close am-fr" v-on:click="close();"></span></div>

        <div class="am-g am-g-fixed"><label class="am-u-md-5">Name:</label>
            <input name="name" class="am-u-md-7" type="text" v-model="entity.name">
        </div>
        <div class="am-g am-g-fixed"><label class="am-u-md-5">Type:</label>
            <div class="am-dropdown" data-am-dropdown>
                <button class="am-btn am-btn-fixed am-dropdown-toggle am-monospace" data-am-dropdown-toggle>{{entity.entity.type?entity.entity.type:'String'}} <span
                        class="am-icon-caret-down"></span></button>
                <ul class="am-dropdown-content am-dropdown-content-fixed" data-op="type">
                    <li class="am-dropdown-header"><a>String</a></li>
                    <li class="am-dropdown-header"><a>Number</a></li>
                    <li class="am-dropdown-header"><a>Object</a></li>
                    <li class="am-dropdown-header"><a>Array</a></li>
                    <li class="am-dropdown-header"><a>Email</a></li>
                    <li class="am-dropdown-header"><a>父节点</a></li>
                </ul>
            </div>
        </div>
        <div class="am-g am-g-fixed"><label class="am-u-md-5">Length:</label><input name="length" class="am-u-md-7" type="number" v-model="entity.entity.length"></div>
        <div class="am-g am-g-fixed"><label class="am-u-md-5">Assert:</label><input name="assert" class="am-u-md-7" type="text" v-model="entity.entity.assert"></div>
        <div class="am-g am-g-fixed"><label class="am-u-md-5">To:</label><input name="to" class="am-u-md-7" type="text" v-model="entity.entity.to"></div>
        <div class="am-g am-g-fixed"><label class="am-u-md-5">Form:</label><input name="from" class="am-u-md-7" type="text" v-model="entity.entity.from"></div>
        <div class="am-g am-g-fixed"><label class="am-u-md-5">Required:</label>
            <div class="am-dropdown" data-am-dropdown>
                <button class="am-btn am-btn-fixed am-dropdown-toggle am-monospace" data-am-dropdown-toggle>{{entity.entity.required}} <span
                        class="am-icon-caret-down"></span></button>
                <ul class="am-dropdown-content am-dropdown-content-fixed" data-op="required">
                    <li class="am-dropdown-header"><a>true</a></li>
                    <li class="am-dropdown-header"><a>false</a></li>
                </ul>
            </div>
        </div>
        <div class="am-g am-g-fixed">
            <button id="dialog_save_btn" type="button" class="am-btn am-btn-primary am-fr">Save</button>
        </div>
    </div>

</div>
</body>
<script src="/assets/jquery/dist/jquery.min.js"></script>
<script src="/assets/amazeui/dist/js/amazeui.min.js"></script>
<script src="/assets/vue/dist/vue.min.js"></script>
<script src="/js/app.js"></script>
</html>